[build]
target = "xtensa-esp32s3-espidf"

[unstable]
build-std = ["std", "panic_abort"]

[target.xtensa-esp32s3-espidf]
linker = "ldproxy"
runner = "espflash flash --monitor"

[env]
ESP_IDF_VERSION = "release/v5.1"
ESP_IDF_SDKCONFIG_DEFAULTS = "sdkconfig.defaults"
